# === Dependencias principales del Sistema de Control Vehicular ===
# Compatible con Python 3.12.x


# Detección y visión artificial
ultralytics==8.3.24
opencv-python==4.10.0.84
pillow==10.4.0
easyocr==1.7.2
torch==2.3.1
torchvision==0.18.1
torchaudio==2.3.1

# Conexión con MySQL
mysql-connector-python==9.0.0

# Interfaz gráfica
tk

# Librerías base (soporte numérico y utils)
numpy==1.26.4
